:root{
    --blanco: #ffffff;
    --main-color: #D2691E;
}
/* CARD */
body {
    /*background-color: rgb(211, 210, 210);
    font-family: Arial, Helvetica, sans-serif;*/
    font-family: Helvetica,Arial,sans-serif;
    /*font-size: 15px;*/
    text-align: center;
}
.alineacion_ficha {
    margin-left: 10px;
    text-align: left;
}
.ficha{
    background-color: #fff;
    width: 240px;
    height: 650px;
    border: solid 1px rgb(248, 242, 242);
    border-radius: 15px;
    padding: 10px 25px;
    text-align: left;
    margin-left: 10px;
    position: relative;
}
/*
.img_lista{
    list-style-image: url('img/paloma.png');
    font-size: 15px;
    height: 600px;
}*/
.pie{
    margin-left: 5px;
    font-size: 11px;
    text-align: left;
    margin-bottom: 20px;
}
.img_linea{
   /* background-image: url("img/american-express-svgrepo-com.svg");*/
    /*
    background-image: url("img/mastercard-svgrepo-com.svg");
    background-image: url("img/paypal-svgrepo-com.svg");*/
    width: 40;
    height: 20;
}
.contenedor{
    display: flex;
    justify-content: space-around;
    height: 200px;
}
footer{
    bottom: 50px;
    position: absolute;
}
.contiene_lista{
    height: 1000px;
    border: solid 1px #2e77d0;
}
/* FIN CARD */

.link {
    color: #FF0000;
    text-decoration: none;

}
.link:hover {
     color: #FF0000;
}
.link_footer {
        color: #FFF;
        text-decoration: none;
}
.link_footer:hover {
    color: #FFF;
}
.div_footer{
 display: grid;
 grid-gap: 10px;
 grid-template-columns: 25% 25% 25% 25%;
 margin: 0 5% 0 5%;
 padding: 20px 0px 20px 0px;
}
.div_destacadas{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20px;
    margin: 0% 5% 0% 5%;
    padding: 30px 10px;
}
.container{
     /* Arriba | Derecha | Abajo | Izquierda */
     margin: 0% 3% 0 3%;
}
.conf_carrucel{
    min-width: 300;
    min-height: 200;
}
.bg_nav{
    background-color: rgb(210, 105, 30);
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}
.menu_nav{
    display: block;
    margin-top: 10px;
}
.formato_logo{
    max-height: 50px;
    max-width: 80px;
}
.jumbotron{
    min-height: 600px;
    min-width: 600px;
    background-position: center;
    background-size: cover;
   /* background-image: url("../img/fondo_inicio.jpg");*/
}
.busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton_naranja{
    background-color: var(--main-color);
    border: var(--main-color);
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 15px 55px;
    border-radius: 0px 20px 20px 0px;
    margin-top: 300px;
  /*  margin-left: 15px;
  text-transform: uppercase;*/
}
.btn_naranja{
    background-color: var(--main-color);
    border: var(--main-color);
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    border-radius: 15px 15px 15px 15px;
  /*  margin-left: 15px;
  text-transform: uppercase;*/
}
.caja_naranja{
    border: var(--blanco);
    display: inline-block;
    text-align: center;
    padding: 15px 55px;
    margin-top: 300px;
    width: 600px;
}
.d-grid{
    display: grid;
    grid-gap: 8px;
    grid-template-columns: auto auto auto;
    background-color: azure;
    padding: 5px;
}
.fondo{
    min-height: 350px;
    min-width: 600px;
    background-position: center;
    background-size: cover;
   /* background-image: url("../img/pie_pagina.png");*/
}